{{>layouts/header}}
<div>
    {{# id}}
        <h1>{{id}} {{username}} Hello! </h1>
    {{/ id}}
    {{^ id}}
        <h1>{{username}} Hello! </h1>
    {{/ id}}
</div>
<button type="button" class="btn btn-primary">버튼</button>
{{>layouts/footer}}